/* css = cascadding style sheat  */
*{
    margin: 0px;
}

.heading{
    color: firebrick;
    padding: 8px;
    margin: 10px;
    border-style:inset;
background-color: rgba(222, 213, 135, 0.315);
;
}
.script{
    color: rgb(0, 0, 0);
    border: 0cm;
    padding: 4px;
    border-style:inset;
background-color: rgba(199, 228, 230, 0.815);
}
.seqstart{
    color: rgba(25, 19, 41, 0.788);
    border: 0cm;
    padding: 4px;
    background-color: rgba(152, 184, 144, 0.63);
    
}
.center{
    color: rgba(255, 255, 255, 0.788);
    padding: 30px;
     border: 30px crimson;
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 300px;
    font-size: medium;
    background-color: rgba(29, 88, 99, 0.63);
    display: inline-block ;
   

}