*{
    margin: 0px;
    padding: 0px;
}
/* navigition */

.navbar{
    height: 9vh;
    
    background-color: rgb(178, 182, 180);
    display: flex;
    justify-content: center;
    width: 100%;
}
.navdad{
    height: 9vh;
    width:80% ;
    display: flex;
    justify-content: space-between; 
} 
.whiteblock{
    height: 200%;
    width: 16vh;
    background-color: rgb(238, 225, 113);
    
}
.whiteblock:hover{
    background-color: rgb(251, 255, 15);
}
.logo{
    top: 0cm;
    cursor: pointer;
    height: 9vh;
    background-color: rgb(230, 250, 143);
    display:flexbox;
    
}
.logo:hover{
    background-color:transparent;

}
.navmenu{
    height: 9vh;
   
    width:40% ;
}
.navbutton{display: flex;
    justify-content: space-around;
    
}

.navselect{
    /* border-radius: 3vh; */
    height: 9vh;
background-color: rgb(255, 255, 255);
width: 25%;
text-align: center;
line-height: 9vh;
font-family:'verdana';
list-style-type:none;
cursor: pointer;

}
.navselect:hover{
    background-color: rgba(93, 226, 197, 0.863);
    color: black;
}


/* banner */


.banner{
    width: 100%;
    height: 80vh;
    background-size: cover;
display: flex;
justify-content: space-between;

background-image: url('https://images.wallpapersden.com/image/download/akshay-kumar-in-glasees_aG5qa22UmZqaraWkpJRmZ21lrWZlZ2k.jpg');
}
.banse{
    display: flex;
    /* margin-top: vh; */

}
.bansec{
    height: 40vh;
    width: 30%;
    padding: 4vh;
    
   
  margin: 7vh;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
color: rgb(8, 1, 1);


}
.white{
 cursor: pointer;
    color: rgba(0, 0, 0, 0.993);
}
.white:hover{
    color: blue;
}



/* flim section  */

.films{
    padding-top: 7vh;
    padding-bottom: 7vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.filmcontent{
    
    width: 80%;
 
    display: flex;
  justify-content: space-around;

}
.filmcard{
    height: 30vh;
    width: 25vh;
  
    cursor: pointer;
   
}

.mov1{
    background-image: url('https://m.media-amazon.com/images/M/MV5BNjZjNTU2MTQtNGQ5YS00YjQ1LTgwZTctYWNjMGRjMzhkMmVhXkEyXkFqcGdeQXVyMTI1NDEyNTM5._V1_.jpg');
background-size: cover;
}
.mov2{
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTKbRuJq6etcHflMhFORZbRmZMqfnfZEldqY53jbin9dPhajzMa') ;
    background-size: cover;
    
}
.mov3{
    background-image: url('https://1.bp.blogspot.com/-RBqRb08bovQ/X8-zuqVhcWI/AAAAAAAADWA/pP4TwjRJnPILCyt2rQEJ5uymaBzvziStACLcBGAsYHQ/w680/IMG_20201208_223807.jpg') ;
    background-size: cover;
    
}
.mov4{
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoGCBUVExcTExMYFxcZGhoaGxkaGRkZGhwaHBoaHBwZGhgaHysjIx8oHRkYJTUkKCwxMjIyGSE3PDcxOysxMi4BCwsLDw4PHBERHTEoISkyMTM5LjkuMTExMzEuMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMf/AABEIAQ4AuwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAgMEBgcBAAj/xABGEAACAQIEAwYDBQYFAgMJAAABAhEAAwQSITEFQVEGEyJhcYEykaFCUrHB8AcUI4KS0TNicuHxFVNDY+IWJDRzg6KjwtL/xAAbAQACAwEBAQAAAAAAAAAAAAADBAECBQAGB//EADIRAAICAQQBAgQEBQUBAAAAAAECAAMRBBIhMUEFURNhcaEiI4GxMjORwfAGJELR4RT/2gAMAwEAAhEDEQA/ANKuuc2UQNJ1/AVAfiTAkC2D08aD7KkaE9SR7TRNkDASAfUVxrY6D5ChwkGLxFpANqATvnTad4n7uunpUrG4pbYAjM7HQbSBvrIipBtjoPkKaxGGR4zLMTG4id9vQV05gSOJxcVbuSEBBXeZjXYg867SMPhUtzkWJ31J/GnDUHuSuQOZyo7YoAxkuc/sHkSPy/CouM4wqHKiPcI+6NJ6Zjp8qiDtCQfHh7ijqCD9IFHXTWsMgRN/UdOj7WYZhT97H/buf0Gm7nEI/wDBun0QefVh+jUjCYhbih0Mg/qCOtVPtP2hTObdqyLrKINxiQi9QNpEj0051Fenssbao5mjQjX/AMvmGLmLusxKi6ojRDatneAIJbqZ16GmxirxO94bHW1a5nac2/5CqQnE7sz3WHcfdC8hyHimrT2c4hhcUxS5YW3e3KmYbmWB0k6nQ677ijW6C2tdxGR8oa3RW1jcw4hJMZdkKRc5Ak2kgdSYuflUsY8iAbV1joCwQAa84LbfrrXbnC7EeK0kazPnvJPvUZreD0U93ppuesxPr1pBrEX+IgRUAmSTxAxPcXdyIyrOka/Ftr9DXhxAxPcXef2V5fzc6mIwIlSCPLah3aLjC4W33jIzkmFRdyYkmTsABJPKpyMZl1RnYKo5k3C3s65sjprEOAD6wCadql4f9oCH/EwtxR1UhvxC0e4P2iw+IOW1cGf7jeF/YHf2qYazSXVjLKYVNcrppJqIvBnaniTYfDXLyKGZQIBmJJABMchMmgnZDj966bi3zaukQQbOrCWIhlMCOhq2XUVlKsAykQQRII6EVH4bw2zZBFi0lsEycoifWpzxIiDxD/ybv9A6T19vWp9hZUH4ZEwVII8jXKaa5HIfKonQnFcIpwikkVeVEaIpJFOGkGulokih3HLpW0YMEkD5/o0SNVftncYFQPusR/qCXI+sUxpED2gGB1DFamI7AMrmKx925cFmxmiYULoWjmdvrTlzB4+0PErZeuYOB8iSKM9n7aW1u3EkstsEaawQSTHWR9KDvxS07DN3lwnm7T9Jgewr0CWMzFEUYHfHM8mVr+CHZSSc/aG2vumEJlRcdgCFPwhoBOmxygmqZew1zEXhatjRjoNh/qbygH2ijlxkKswAGVxOXSRvMeh+te7DYsC8iPElCinzXWB7UL4ZqR3HfJnuf9O6lW0DFVwVyMftFXewxRJt3czgTBXKD5AyfrQLxgqwlbqHwn7WYH4f151q9Uwi3cxlkLqC73J6jxx+IPuKzqdfYtbs/IAJ+01tJrHdGWwZAEMXka6ZvSiATkB1MDUk8hQq9jLY/wAPDIU6tJY/WasBsB88ndwD/pGuUeUn6VNW2oGUAR0jSvFUaezVlrCe5nM6r4gHheJEF7UiPjtkyI6qa52nxiQREzYZg3TMyKPc6/KnmwRt3mZfg8M+jkrHz19hVY4tePd3Z+yEtj2Z3/MUTRXMrtU3j9xG9LUr2Kw8YgJ0vvbVrKM2hLZVzaTAnQ6aVEtX2JAdcjj4XHhYNynmNa0zsRhglo+oHyGb/wDYUH7d8NQ3e8kKShzARrvqRvyAmte0sPxAzUXXCzUNUw4hzsdxU4iwC/8AiIcj+ZGze4+s0ZNVX9nWHK22f74E+o1H4mrUaMZga6tUvZU6nq9Xq9UROeqJf3NS6j3dzXTjDRpJpRpJohlYg0hqWaQaidEmq/21sfwReAJNtg2m4WRJ9t6sBqLj8SiDx7NpETPXSrV3ihxYehItq+KhT3lP4fi2BW7ZIMaFeRU65T0g7UvFpaYFxh1tncsX+eVRpr1qPiuzj941zBOO7gEKWjVplQfKBofvCg/E0vrmF85cupBcN8gs16EW6diLFcDPzwfpjzPNV6LW1t8NF3DPWM/0krBX1JeyoLM4VFjbNlC/Lz8qD3SyMQ4KupExoVZeYohwnj1nDeK3Za5c++7BFH+lRPz3pzE8YTFFmvWUkIxVrbQ8gEgNO4MdKqdVmzCjj9/0ntv9P6C/RI5uXhuSPI/SR8V2kvtb7u5eLLEEBVViOjMNaa7O3r1zFK6AkqCT0VQDqaldkuA2sU794zpk1ygjxDX7RHLTlzq2NxDBYAiwAVJALZVZonYu3tS2tZTW1KLyRyAPfzNK69Kya615+kcwGLJB18QOaOo0B+RA9jRRuI2guYsB5c/lQTjWAKEXrTaHUR5j8IqAmPJ3tZm6g6fKD9DXgq3t0jMmP6zOesOMjr/OIXOOkm42ig5iP8o+BfUsSfrVS4hczoQdC91RB8jJ+h+tF7GKQ3VS+SozfAAYDHbOepqF2y7MXCz3bbp3ZJc5my5SdwPfb1o2kqbm0+/Me0hSt8Pxno/2i+F9s0tKyNZZjmJGUqOQEEHUbVXeKcRuYm6965CqQFgGQiAzlB5sT8zUI2Lw3uA+vi+sGivBuFI5W5iLxZVYHuwjnMOYkaCtkbrOQIQ6707TWM5YBvrmXfsKjfu/eMIDmUXogEL89/ejxqBgOK2LhFu24kCAsFdByEjpU4mibSO5gvqV1DtYpHJ8Tter1cmolYqod/c1Ie4o3IqM2KXrU4kGHTXDTpWklKJKRk0g08yU0yGoxJiCaE9omHd6xsYkTrK/7iizCgvaGD3YO0mfTSsr1f8Akj6iHp5eD+zGLyE222Ykj1J/Q+VDe2t05M4OsoD5gqT+MUvLAEggESOsTofpTfaVM+HaPiBT0OW2SfwrOr1DfGQN4P7zT0qqt6t85ULGDsFj3l1woAjKmYk8xvA9fOivDxglW4EW7n7t8j3CpEwdgmx9aDW8KXYS6IrGMzmAI6wKL8LtYWy4L4l7sT4UR8kkESSdwJnTpXs0YCwNg+82L1APZz7CFux95EuC6xygq4YnYxL/AIKfnQzjdzvsUobTNGY8xmMAewy/OkYO4gtgFtFcNPUZTI98g/qplbblTij9t2UeoAYewgCtwIPil/J4gfh4uLeTxLbxrGRhMPB8cqdDsFBRifLxEe9P9n7yW7ZubCHzdMySwj1AaqlxG+SGVSTmeFHRPigerMf0KLYBi1prTeHW2zeWVgjj5aR515L1ihaLVsHnP/kXfTgUlfnn9Mxy6iNcQXgWe5kzkEDKSAToBylR7GjHHL4e2lo6mMz8/hlfmW/A1XcaHdu++znK+7CR8gFHvU3FXdXcam5kYDoMuoH85b61gCxlrI8tj7mVevJU56+xiLfBrtwA2ymRTlBJg6AA8tRMx6VCxtm5bfIbiEiJyqpg8gSRvVmxmNFm0tq2RnAieS9WPnMxVZsWzcbKs6nVjrE7sx61vUIyooJnz71Kuk6opSMsTz7DML9m3L3FhEhB47kDU9BynzqxPilHOfSh2FwARQgmBy216mpC2egorMT3NbQ6NdPXtHZ5McbGHkvzpprjHc/KnBbpYt1XMexImWu5TUru6VFdOlmIrmWkDEqedefEIAWLAACSSYAHU1eAxOlKSUqkdpO2V1GPc5FQbMRmZh16AUJwvbvEltlYdCsD5gVMtgzSWSqr2tcrcXwmI3jQyPKpfAu11u6Ql1e6c7SZQnybl70exNsEpIBE79Dy+fX+9KavTfHTbnHMJW+xsyu/9IzWF3DwrAHkcokfSgeCQvdFkqYk5hHLKQfxrQmt0y9kCWgTGsDX0pez05WdWB6x+uIWvUlciYnd4Lig/drYuNBIkIwUwYmSI1jnU3B9j8a5BKpbH+dgY9gDWtWk8I89fnrXGStQO4GAY+/rFrdACZPxjs5iFuLaRTcJ1zAALrGp+6B+VWrjvCsmBW2gzG1lYwNyPjMe5NWdk8fTw/PXX5af1Gm8Scok022ufcp9sQL692dWPjB+szjsNgmvYjvHByWtdRoWHwgefP2HWiPaO21u82SYclhAn4x4h85+dWVrpOi+EeVNGxLKSOe/OY09t/pSHqL/AP2EE8Y6lxrXNhcjjGMQd+7n91FsKS2jn/VIMD20ofwCy9y4FYHJbk7Rz0WfUmrhaw4p8JSbaRSVb2/tBjVttZffz9Zn/FMRsuQjWW31Hv5RUYYlNQveKOgj6661oeDT+GgI1CgH1Ag/hTwQdB8qaUkdTy7+jn4hYOc5MpXZvFE3lVWutMgg6rEbnUwBVyFuuYrFWrS5rjpbHUkCfQc6DYntpgkMG4xHUI0fhVyS00NJpzp0ILE8w53dK7uovBuMWMSCbF1Xjcahh6qdaIgVEbzIxt17u6kRXIqJ0Ii0OTA/KqP+03iWRRYQ67vHTkv5x6UduJDDfY/lWcdpcULlzEydFAgmfiGpEj1OnkKnjMhVMH98LyBTcEjSCPzotwfsRcurn73KPLWmeyPZ1MovXwXzQVRZ59YrQOC8Xshhh8r23GgVl09mWV+tUNmWwIbZhckTNeP9m72FOfOz2/vCZHqOlH+w/bO4Ctm8c66QfteWpPWKtHaXFWADauvq6nwwxMH0BrG8egtYh7av8JGVvIgET865WJyDIZBgNjifQVriVtgCDvTwvodmFZZ2V7RuYtOoLfezAD61aExx+3bZfMQw/wDtNEBgimOparFsBVHQAV50oBbxPMH60scSK/aqZXEKtaOaeQED3Ov4D61A4kkkL70zb4+CxXMkjcFlBHPUT0pTY623i7y3qSB41iRuBryqp5lh84m1Ypx0+GBz1+R/Oufvdv8A7qbhfjXc7DfcjlSTxC1/3rev/mJrrGmtRiTukgCuxXQa7Uzo1YGmu8n8TXsXeFu29xtkUsfQCacQRSMXhu8XIdQYn0GsfQVA4k9mZI64rF3XxHds8kwDICryVZ8ulD+LK4HiVkI0ykEn51tFi0o3iB7CgfanhCX1PcshbpP5jaoW0+eoRqh0JkPDOI3LNwPbd01EwSJAMwQNx5Vq/wD7aAKjGyWVgp7xW8Ou/LkZHtWW8a4desMVuIwB5wSP6tqftYo/uRSSMt0MvXYg/j9KPwwgf4TgzcOH4tLq5l8pBiRO22hB5EEg1Jisz/ZhxMm6qEnUFSPmR9Qfma06KERzJgPi3EsgPgIbK8ag6xWe8Lwy3beItOYZSLgMSTbbfXyYCrp24vi3bJJglHUeraf3rNW4ncstns7shRpEyp295GnpUWLkYEvUcYJmm8G4al7Di2CV8AAIMMNI3pfDOzn7uwbNMHTeTJGhknaPrQ/sninXKUMowBjoTRniWPLwEvW1uIZKMRr5HWR6+dLgjGPMaZW3cdSDxvgV25cNy3cyySJmMpB0Iga7fDtWW8asRjrysZ8ZWfYSa1zivGu6w7XWgxmPgMidTlmsXN17l53f4nJY+p1oqdwNgOADDXCcABeVW1Uka+R/t+VaBhOH92SBJUxp08x5VROEYqFB+0uw5/qKvvDL7XbYdbh6EGDB5iip3zBvgAYkSzxL4vDzAALRlkkS5jTb616zxIZlJSZjSdTLZfBp4utHuF2iWIeGkE7Dkai3LoGJFvKNBofamC1Y/wCP3l1srPiDMTas3Fe9dsNOYRBYA5QbeYtECAx/Qpm1gbDm3ZWw7Ir3CpFxtAzZWaQPh0nerYFERGlKVQNgKpvTn8MjenPEp/7tgBdFoJdz96qAKz6PLeeiyrTMeWlIRuH2pm3eGUEQcx0tu7nYxo1pt9/eroEEzAnrAmvd2v3R8h5/3PzoUBiDMR2jtJBZbkFbbAhNIukBNZ6yI/ymvYTtNh7lxLSMzM7ughdJSCST0IIIPMUVKKdCojbYbDavC2o1CifQe1RJ5nMDiVu20uLOVwGEiDB6jkaido+IXLFtXtKXJMFQuYkRJ5gAQDqT0qegA0GldvW1ZSrCQRrXSw7lc4jiTfwyYi0hZTqAZgGQCWUTMH150vs/cxDsRcClEJCvESNtBGxorZx1oKtq0MxgiFU5RrrmOw1pdnFaZMuV+f8AcHpQCBGgSR1K5+0Dh5vWltJBbOKq/a7hNrDYKySMt0uAZADNuWJO5EfLTarvxXEi2weMxnRRodpOvpNZb2u44cdiRlBW2miKTryzExpOn0q1OSceBKXYAz5k/slcFrE2GGzuQfQgj8YrZayTsfw4Peta/AZj0Y/r3rWZo7dwDDAEzf8AaDxEZ5Yz9kKOnP8AmaPYepqicTvFiuX4yQYGy9B5mrLxjh13FYlgEfu1MZgBqdJgkgb6b8qO8E7NXLH8S3atk7wxzOfTwjX3oaHI3EjJhH4/CAcCDuBi/hbVu7dByNqV5pJ00q4JhrGLUXVa2TGodFf8dQaVhMTbxCm2wyuR8J59cp5+m4qkdo+CvbF3uywhGaVJGg32pYhkfDDuMo6umVPU7+07iFtAmCsEQsPdyAAAA6LppJOseVVG0c7StQbaMR4ZmNevnU7g9qSse/5/lTW0KIrvLtzLB2bwveMQRqFJ08v0a0PhGFVQGWASIcD4Sw5x86qXZy2q3Lra65oIH6/Rq0cPxYRIho3HhPSrIM8ylnWIWwh/iD0b8qE44f8AvqnqB+BqVw3GK11YnnuCKjcU/wDi7Z9PzqzeJRBDApVIU0qarJiga6DTdjxTE6RpTwt7eE+cnzqwWTicmvFqdFo8lX5z6VKW2o5Cp2zjxICvTmYfoVMaBTOJYFJFdtEjMqvGODXgwOHuMttmkqrBYnVvEBJnfeiFzJh7WZnaY1LsXJPqT9KK5ZWDVe4rwoXLy6sYEwSSPX5ilrEx1G67i4AbxI37s923cuvoWUqi/dU8/U1lnEcI1nEsoGzRHrqIHpFbquW3bltAKrtzAtdfvBaGuxIGYCdjp05a+1F0tTElj1BaiwYwO5UOz3FBYxK3H8Kt4WnkdRPzNavbdSAQd/Osl/aFwe7adrwtTaaCWXXK2xkch5xRns32gZMNaUtsse0mOfSKOQAYEfiEvWCwggE1PyrtTF28FEVGzljSIwsZOWlc7T2RaxAYfBc1kaZXEag+eh9jU3B41Lq93iI1BHebSCIIfz89qkds8EpwzOxAKQwPnIED1BI96qOFxBEegJp+tBamGHUzbXNNm5T33K/2r4DcwLlgM9szlf8AJvPf1rnYu+mgIA8XPlzHzj6VesLjbdxO5vKHQiMp6eX9vwqu8W7KtYm9h5uWt9PjQbwy8x5j/egOjJweveOVWpZyDz7Q1gcLlNwDSTmQ+UaqfY/Q9Kn4S7KAHoKj8NuZ7Nt/KD5+f66mlK4GUDkI9qqeORIY84jmHuZWB5TScbe/j2zruPnNRXeWGtJxJGZZOgP1mhIxziQDLRbcdaWahYFbRA/iDNE5dZqXOlMzorhgkuPMHpU4WRzA+tDuEnxP7UTBqw6nEmetW8u0D0p0N1puTXGBqZE5iLka1y/AtnXzk1y4wRczkaTrQDFcRNweFC4aRbUA5cw+27dB+XWuC8bj1ILDoSB2r43iARYwazcMAtG2YSGBOgHman8JtnCWEGIvd5dYNLFtWYksQs6kCY08qf4Zw7IJdizkySebHf0ofxNkvC4l9Q+W4ypayZpUDctyO/MctNalPzSBjgfecXCggHn9p5cd3rspv22ZdSoZSbY3JKToY5tU1bodVy6AAGJ2E6Fv7nfrQAWbeFuC3ZsAByVcjQZSDvrrAMwD0rmK4uLbC3maYnLnzSBtvJXWPca04as8CBDyw28YBNu7GpiCogzvrtz5UCxHZWzmJbDSSZlXuKDOohVMDTkKluneWjeQhoCsI8wBt97y6j3qLcxd9SVGYR0EflVNkvHeM9prVrUmW5KNST5Cmuz3ay0xJuzbb/MNAPUc6k9o+A2TZKhcuQFkYalSNyTuQRM1RisHKxB6EGf+RSdekVl5PMtdrGVsADEtPF+LtjHAErYtnQHQ3G6kdPL9APib3jaOtS8C4ddoI5f2qJxKzBzDnv60SlttmxuI1rNMjaMPWc85JjuHYb0b4RjmVgAxqr23NEcCxkU4ygieeViDxLXisKFBKADOc2ggSd9OU0KW2w9RoR0orhsSMpB5Q38p0MehFJxqeKRsQP18qTurwMx+mwscQWF1Fc4kACvmfrUm1hizgKCSSNPenMegRlLkCGnQhiNuk0iAQ4wI1kCTcHhgpHWD+VT4qKuJUsv8TWDIIMjbkBS8PxG09zu0uqX10joJO9OiskcCDNqjAM8iXFJKECetK7y/1X5VNZCPiKj1gV1Cv/cT51GJff8AKQu9v9V+Ve77Ef5fl/vRJyMsLkJ6yZ+ophXkldMwgkTqAdjHTQ6+Vdgzt4gPiGPe4q2/C5ZjpByZRAJbmQCduZ06mieAthE6/wCYiNOkDby0igqpku3BymRJ5NGk6DeaMWZ8KzqOpg69IEEVSx8tt8TMstb4h8Sa6lRIIJ68/Qn+9VDtCt04iQRb5yIDEN8W8idOnSrW10DRx7gfiNiKGceylVuKNUO0SpU9AfONKLp3Cvz5llYA9yp4jEKroQWYZwudoZp6MQPeBtTHF7CZ0aAfsnr1GvXepPFsQHhGE5mjIJVRpObMuoofxTC92mcKwEj/AMQuBqNcrAHaedaw48Qw5k7guNKXDYmATm5xvvp6jTynatMwWGtXba3GALMok+YEH8KyfDY62t4WgJdhqRsNNAfM/jFWWzx25bAQEQum00vdUWP4YRW4hrEX1PhOpEwaoPa7s0lvLiEJQPJIX7LTBgdJ5cpq2W1edFJnfSu8VwhuYd1ZWJU5lA310I+cGkq3/FLXJlOO5nvDL1y2wOcXE6jQgeYqy3bQddOY/wCKr93D5SZBRum3zFHeDvKQeWlW1SYw4jXo92/dQ3REHLbqZhlil4lIY/OlW6ZVtygzFvqNdjKfBxO38YWcIogr9r1Gs+X9qNcMD5ACGJGm3KdB+VBO7bNmRoOxB2YdDVs7O3M9sD7QYqRzB/R3ql4/BL6U/mczuBt92DcLASCpUyGIJGqk6f8AFQOMcMuPlFpGfXdRp79PerfbwCM2e4oZo23UegNTgKQ4mhnErTYV0y5kMAancDQb07ZyTLL8ufvRm7J2IHqM0+okfjQo4F7Zd84uBjopQAJ5CN586srg+Z2c+Jy2D9kGPp7mlMttmgZSI1JHPyO9JW4YbPHQSdv5R/as07Qdpbne3QHz21YrlUlREj4huQOYoiKDnJxOdmGMDMvT4lCzBLLMq/bEBCdjBJBgczEU8Wt5e7Lh2mWgiAegA1j1rMb/AGtuOndXCypyNnwQBsDb+Fh5SPWiHC+0JAUXcl21OUXFHiDGdHH2W8uY2Jrsr1Ow31ltxdlRlK8yZMBxG/iHTcTRXhyzsduSkH5A/hQTAYS2Cr22LKVkFmYgSdCh/I9KNYe4ABprzmDp5GN6A+3ccHiZJYmwlhgyYbM/2jb+Q6j2pi9w1GBEkTvBBHupg1IQE6Zp8jow9M35Gk3WI0JjrII99a7juGIHZEznHYa5buFGmRcGo5g7adIqTxC2HtsjaSpj1A0/XlRftjaMJdWR9gmAJBnQTr11ihAuwJJ21/X1rZps+IgMKjZlO4aSbjajvCQYJ1lSZPzq227iACd+ek1W+1HDUF0XwYV/EV1ADEHXTzg6UN/eLh1F7f8A+afyo2Ae5fJ8Tb5pvFWi6PbDFC6lcy6ETpINLpN5yFJXVtlHVzt/f2rGHcbbqZjjOEC3cZVvOSpILDMASN9HJnXnRTgogEEg7bf2oxxCzbssQLLX70ZnZpNtZ38I5+vzofg7rOXdokkaAQB5KvIUS6zdWfad6bUU1IyeeePlOY9djTCGpOP+Eev96hq1X0xyggPVk26lvngyRbbWjvY286XXLxDaA6ex+goClTsHdii2LuUrEKztYNNFV5Gm/KevnQfB/viJcfF37aqJYd0kkKJO7ae0E+dM8D4nmbI28TUntFibJUWLtxRmiQXCk66L1rJSwqGQgZmr8MOynJxJPCsWl1ZS+rgfcGVv5hP5CpmJQFSDsRFADZs2Lee2qrG2SMxPQNTvBOKXbgIu2wh0KkMGkHk2mhFDd8Lz4hmpwcrnHzleeziCXtI4U6qWE+ETq2/T8aD8d7K3FBuoUudZRQT11UA60X7Q4427xe26zKlrZUnMu3x7Db6VZMOxgGJBE+kjYirJcWUMIQVgDBmLcUIRh3mFKgj7LXBIHPfqPrXeDXnug4XD2ETvGTOwzu+VSWBktoFidB71qHafCW76lGGViIkDUc/lVa7EcB7m9duPB1FtCwI8MBmZWGmpIB/00T4+4xW+sU17x+8tvDsKLaKiDRQBptoI1B1+VTrCagwPPQx/T/vTSQd5/XmOVS0Qfe+cj61wmSoycxy03KZ8pn5q35GmWGs7HyWf1/vUgMYgk+Xwt9RqKEdoeMDDgwjM2WRIhPQtv8ga7G7gQ/wmYdTnHbS9zcOVyQpOYrJ0HU1S2uOBIBMdZ1+IbbzB+vKrTY4s7+C6VC3QQII0J+yJGogj/bWIvBOJIl58O6qtwE5TA8QG4n6+lNVW/BU8ZjFOlIPJ7g2xwu3dUG74iCTGo1I1DKdfapf/AEi10I9CQPapfaXFBYuqQWXRh95f7jlQv/rC9foacp1BtGYSyoVnBlvtISYPh9fyqUigCRMDWdSZ9BQnE8RxBDFMP8IklmUKNPWT8qzO72k4lcuZ1umyJ+EAZfQggzWaqO4wIeyxE5M0PiGJuXLhGHxtq2Qf8MqA088xYzr/AKag4t8UARfS0xnRwhH1UwfpQAcZu3FAxeHw+Ij7RBtuPRgD9Kn4UEKAC6LuEF12UeWsfhUWKyLhhG9AVusyp6ERxJ4Uev6/GoSuK5xm74gs7D8aHreintKuKxMn1ewNqWx4wIZtvTqXIoZZxNPC7R8TN3Q3wrF5b1s+eU+h/wB4qVxBM19ygCNcZQbpQuSYyqP8qgJqdteU1VxisrKejKfkQak9pcTjHu5bVtzbMBSg0IIEyRrvMg1i61Nl+4Dsfeb3pf5qlScY8y1WcI7WmS4wmVY5NJWddvxFV1+OWsNd8CZmDMP4cLbyggANJPiEGSNNad7PYk4LMcebgVxAEM6rvvEwTpoJiKVwfs3g7i/vHeOyeIhGYRlkxngZtht85pYhmXA8zSGxXIc5HjHmHbVi3ibaXCnhcZgrAaGCM0jyNQe0a3ymWwwCIImTnJUciNzoRFKxHFmS0ncoLodAvgYDKenlp+FS+E4lWSLqZeeVjJj166VYcYEpjsytW3uJli7dYxFy3c+wYBBUxMEddaKcGxByySMx1IBKnU6eF5G0bVB7T8TtqG7pYgHUVzhGK7y1bYTBUGBFxRpqMreKpzzmZHqrEVqB1mWiy/MiB6QP6l0NI4pxZbQHMn7IMs2+y77gVBw5A5gf12z8tqI4e2Gh2AYrzIDEejDX6UTJIwJl0WbWGRmM8Gv4hrk3VFtGBITXMI+8akcftyocESs7idDvA/XOkXuIBbiqBLMpyiToo3Yzy1FIu4gPs0ySJ8hvHlUK+3qeiqRmQbu5nV3GEXCFJVECQmpAJ8IZZ/knfcEc6I43ijXWW3atzdbK3ek+BQp10GpOgGmnzqy4DgCO/wC83IhtVSNANgY8x+NP43hNpgVSbZGzKBIJ3EHQjyphbRuBI4mVZqirEDqZ32kwuLtp3ty7mUkAhSNz5xNA1vdL5HqTPvWlcU4C1yyqXbjEA/GoCyROrLETBqsXuxIJMYj/APH/AOqnq76sccfpGFVrVDDmaVxnEi1aI6DX1/WlZfcv5nJ6mrZ21xsIR1qj2XolS4WZ2ofc0L4TxEDqRR8Gq7wnW4vv+Bo9daFJ8qT1fLqs9F6IoSh7D/mBAPELuZ2I60PuPUy88fZoZirjclI9BWgowAJ5i1zY5Y+TmOLiSDUlMVQrunP2SK4bbTG5qxIAyZQDPENWnD5tdhp5tyH66VYOznGAr93cMHz/AAoZ2Z4bJ1ExBPrNd7T8IYHOmnPSsC28X2EjocT0ekpNNfz8yXefGYlwwsqy65Q7ZUCzp4dyaF4kvhc+e6ga4rW3W3IRSSCDvuNfnQocUYLkuPcWNBk09pofxFHe1mW2wtq3iLSTJA1M6xtrXYxwYVrBjgczSLeDK281nKwIj+GTauR8yre4rmGvXAP4oaBPiYZSR0blO23TYVnPAOO3bDBVuEITGU6gT06VcF4iLgGYmehM684qrLtOIWu0OMiReOYjNmCjf/mk9kOJZkNtiAyMdDtl5ERrpTfETVRx99rN5XtmCuvrJ1B8iBUhd4xFNdVvTE1u1j+RYj/6q/8A80vEY3u0ZhrOggr8XLVSBz6bVWeAcWW8mZJVh8Sy0qf5Dt5xR21jGXYBzyzakekgNPzoeSODPOIfh2AsOjHMDdZJV2LX7oljyt2uZHtPqYqZhsaHllUBP8K2ARqJ1fWNY/CoNnCiCMt0Z4LvkaT/AJBpoPU0Sw2Ls2mzEEECBI+AdIAMetWRGPAmu+vXACkn/v5wsyM2mYINgoHLpJFLWwANDP650OvdorQbJmM66nKoJEaS2v2h9mheN44x07tR5mXM+QOnXlTqaWxuh/WZ20mWa3etZGS4wymPFoFU8jmOk+lVvF4pUdkYGVJEwdeh9xr70Dv4hmcXHYsQdCeXoOXtVxwnFFKKWUEwJpo6HCjJzHNPc1YwZRu2N7cdDFVrC3Jq0duMI4hyNHH1H6n3qm4ZoMUZGBAitiEMRLHwZ/4i+/4GjmMf+G1VXhl2Liev46fnR7G3P4bfrmKT1A/NU/Sei9Mb/Y2D6/tI6vpUbFYgJ4mDR1CEj50i3dqTauTodq0MzyxEFXuLWyIUk+1SeGWp8XM1A4vgVS5mUCG1o1wZPAvp9az/AFOwrRj3Me9PrVrc+wl27GYAG2Z5iK9xpQpKESenWifZxMluneJWUuCYGcDQ/lWJXwB85tizD4PUznG4FFMkajZRrJOwo/wzg0WwrCTqW9TuPy9qk2eEgOHOpBJE/ePM+g2o3hRAiktY1lritOh5+ftDF1UZmW9t+yRs/wAeyv8AD0zqB8B+9/pP0/DmCQPbRx5fMaH6itZvhDmVgCpWCD051nfEOFnC3Ci/4TklP8rc09xqPSnqbGVAlhyfB/sYGtl3kjoxgWZ1OtUrjhD3HYbTA9BpVv4lie7tMeZ0HqeftvVRZJp+lfMHq3zhRB+AxT2rgdNxyOxHQircnbJsvgtBdNpzCfeaqmItwal9nbOe8FJAA8RkSNPKjrUruNwmZZUjcsJa8Bfv3xnuXHyHZUhBvzYkE7bDTWi+RAGm0x1j7LAxOsTGs0xbsRBzuYE/HInyUiPkOVKdiCAWEbtKxO5PiUgbaVq11qq4UYgtoHQkLHWka9s4ifsg6yPbkalXLgKwRpHzjr+tqae+YMnxEzCkge8e+lMPf/4pkHiVMlXmAgDbTp+VP2cXCigzXT4uYBImemnOpGFQlRXAiTiXPjeC7y08mcwlRr4SojT18qyfGrlc+ta+92VC9J+tZR2mSLretZVXAxL28kGIs3oIPTWrHdeUYdQaplm7yqx8Pv5kX5fKh6jw01PSWwHrPkRi1eqVbehrDUjoaVbusv8AamwcjMwrK9rFT4hXE2+8txzGo/tU/s0k5AaFYXEg7aHpR7gLjPNZ3qas1Qx4Mb9OIWw59pa8XjWtqMi5uZWYOUfER6dKI8PxKtbLG2XUGSygnSARr8+VV18VNydkXc8vn0Gv1ov2Ux1tbBBvqG8Squ6jcZoG8iKxKn3PjxzNK0YEJKqsUIsvBOvh0Iyac9ddYpTPbUeK0wO0xzgbCdNQdKE4rixt2raIwuMGDvJJCgRlT5ax5V0Y5mFtWjKrKfSNKKHQH5/SD2tCr3LYdVNlteRQyfimNf8AT9aav4azcJttZcxlJBSYEaSJ3nxe1Sm4lbDr/Ezg3C0wYRcpET+t6Zv4+2c6Lf7skq2cAwREZROsyPrRWKgZJH2lRu+cxHj91jddG0yMygdIMHTrpQtmijHbNMuJuQZkgz1kb+5BNBXM07Q25AZV87jmN4tZ1ov2Uw+W210/bMD0Un85/poPbtliFG5IA96tlhAgVRsgEev/ADTunXLbvaBc8SUxg+Q1PnyA/XU0214jn8WvtM9Z3E/KkXH+yZgatB5/qBUa7dnf6gSPL9cq0AYAx65d6e1Rblz9eVNXrlRcTe5Dc1fdiVAzH8HbuXbyWbWpJiNYHU+QitWwPD+7RUCZsoiTz6/Wq1+zK1aFpri+K6TDN0HIDy096uPeVn6i07uI0i4EFYXD3Lk92jNG8CYrLO1D/wAd/U1rXB+NCyjI6FhOYFTlMxEHy0rK+N8Vc3XOVNT9xZ6jxbkid96HXnmBfxANFeC3t196iYy8WgEL4doEdP7V3hphx5giusGUMY0T7LlP+cyTxIEPmHMUvBYpCfGs+U5frS+IroD5x+vlQ9lq1TZQSNfWFvb58w7Y7pj8AUjm10gH5LRnh+KthgVFtWHW68ERz8M1Trd8rodRU4A6EGrsoYEGI5KHIlgxHGhcU27gtKJEgXH3EzqE660Z4H3Nq13zFQHOkO5gAHT4es/Kq7w0W8jXntgsgn1+dFOKnucJaAExl2Zk3U/d9aw2rVXZcdTVV9yhveGsDi0NstbIJLEv42G7EwRlnbQelE0xQyjWSR95pIjyH6is4wHah7RJ7vMp3BuPtOkHyqzcE44L6FltlQpA1dp+EHQz0MUtYpXJEIOZZbb+GC06R8T9PSogW2SxIWF3OZ9NJ+7FM3MUxAGo5/G/X1qEmMJW4sGCxGtxzsByNBsZcAHxJUGBO2GHsF7bv3QLq2rXbi6BtNFXoaripYUGRaaBMd7cExoQPBuSJ/mAot26QvatvoDmMekbfQVTq1tG26oYgLRhjLZgsPhwTcUW2ybZbtw5iRylQKkXcRbg5beU6Qc5b6HfnQnh9mLaieWb3P6FPkEaToNa16l2rFWPM9euctD11IM/r86j3b1KxDkec/jvTCXQplkV55MWjQydiNwI96YBgzGL96KgYi8fc7+Q6e9E7mPSDOGtNHU3PszP2ucj+kVFXG2jE4VJAgnNcExz+Lehs+TjEuqgDMtn7KsRAu2/Q+dXvPWe9iMYq4iFsIoYEGGc/iavGalblw0Mh4n/2Q==') ;
    background-size: cover;
    
}
.mov5{
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQhaeKKC10qC7F3ovoWe_kusdkSpJkS26iN3zzApK9w_A2NHQ4N') ;
    background-size: cover;
    
}

/* .movinfo1:hover{
    height: 15vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    align-items: flex-end;

} */
